.showcase-carousel
    .carousel-slide
        img.Content-image(src='./assets/phone.png' id='lastClone' alt='' width='190')
        img.Content-image(src='./assets/phone.png' alt='' width='190')
        img.Content-image(src='./assets/phone.png' alt='' width='190')
        img.Content-image(src='./assets/phone.png' alt='' width='190')
        img.Content-image(src='./assets/phone.png' alt='' width='190')
        img.Content-image(src='./assets/phone.png' alt='' width='190')
        img.Content-image(src='./assets/phone.png' id='firstClone' alt='' width='190')

    .dot-slider
        button#prevButton(type='button') Previous
        button#nextButton(type='button') Next


    