.showcase-carousel
    .carousel-slide
        img.Content-image(src='./assets/phone.png' id='lastClone' alt='' width='190')
        img.Content-image(src='./assets/phone.png' alt='' width='190')
        img.Content-image(src='./assets/phone.png' alt='' width='190')
        img.Content-image(src='./assets/phone.png' alt='' width='190')
        img.Content-image(src='./assets/phone.png' alt='' width='190')
        img.Content-image(src='./assets/phone.png' alt='' width='190')
        img.Content-image(src='./assets/phone.png' alt='' width='190')
        img.Content-image(src='./assets/phone.png' alt='' width='190')
        img.Content-image(src='./assets/phone.png' alt='' width='190')
        img.Content-image(src='./assets/phone.png' id='firstClone' alt='' width='190')

    .dot-slider
        i.bi.bi-arrow-left.arrow#prevButton
        //- dots will be generated automatically.
        .dots 
        i.bi.bi-arrow-right.arrow#nextButton


    