// variables
$max-width: 1200px;
$max-height: 900px;
$font-family: "Quicksand", Arial, sans-serif;
$font-size: 2rem;
$font-size-m: $font-size * 1.5;
$font-size-l: $font-size * 2;
$color-white: #eeeeee;
$color-purple: #ea1dff;
$scale-size: 2;
$default-scale: 1;
$button-height: 3rem;
// functions
@mixin content-object($position: fixed, $rotate: 0, $right: 0, $left: 0, $bottom: 0, $top: 0) {
    position: $position;
    pointer-events: none;

    @if $rotate != 0 {
        rotate: $rotate;
    }
    @if $left != 0 {
        left: $left;
    }
    @if $right != 0 {
        right: $right;
    }
    @if $bottom != 0 {
        bottom: $bottom;
    }
    @if $top != 0 {
        top: $top;
    }
}
