extends global/master

block content
    img(src="../assets/svg/background-shape.svg", alt="", srcset="", width="1400").bg-layer

    .container
        include pages/firstPage
        include pages/secondPage
