@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
    transform: translate3d(0, 30%, 0) scale(1);
  }
  100% {
    transform: translate3d(0, 0, 0) scale(2);
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
    transform: translate3d(0, 30%, 0) scale(1);
  }
  100% {
    transform: translate3d(0, 0, 0) scale(2);
    opacity: 0;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
    transform: translate3d(0, 0, 0) scale(2);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 30%, 0) scale(1);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translate3d(0, 0, 0) scale(2);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 30%, 0) scale(1);
  }
}
@-webkit-keyframes fade-up {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}
@keyframes fade-up {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}
@-webkit-keyframes fade-down {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.Page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}
.Page-second {
  display: flex;
  justify-content: space-around;
  height: 100vh;
  flex-direction: column;
}
.Page-heading {
  color: #eeeeee;
  max-width: 500px;
  font-size: 4rem;
  padding: 2rem;
}
.Page-heading-bold {
  font-weight: bold;
  color: #ea1dff;
}
.Page-heading-second {
  color: #eeeeee;
  margin-right: auto;
  margin-bottom: auto;
  max-width: 500px;
  font-size: 4rem;
  font-weight: bold;
  padding: 2rem;
}
.Page-image {
  padding: 2rem;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: auto;
}
.content .showcase {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content .showcase-carousel {
  width: 360px;
  margin-right: 5rem;
  margin-top: auto;
  margin-bottom: auto;
  overflow: hidden;
}
.content .showcase-carousel .carousel-slide {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}
.content .showcase .details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.content .showcase .details .detail {
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content .showcase .details .detail .title {
  display: block;
  font-weight: bold;
  margin-bottom: 1rem;
}
.content .showcase .details .detail .description {
  display: block;
  margin-bottom: 1rem;
}
.content .showcase .downloads {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.content .showcase .app-info {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.content .showcase .app-icon {
  margin-right: 2rem;
}
.content .showcase .app-title {
  display: flex;
  font-size: 3rem;
  flex-direction: column;
}
.content .showcase .app-title .bold {
  font-weight: bold;
}
.content .showcase .app-desc {
  font-size: 1.4rem;
}
.content .showcase .app-store {
  height: 3rem;
  margin-right: 1rem;
}

.icon {
  width: 6rem;
}

.objects-wrapper {
  position: absolute;
}

.Page-floating-1 {
  position: fixed;
  pointer-events: none;
  rotate: 20deg;
  right: 5rem;
  bottom: 5rem;
  top: 7rem;
}
.Page-floating-2 {
  position: fixed;
  pointer-events: none;
  left: 5rem;
  bottom: 25rem;
  top: 1rem;
}

.frame {
  display: flex;
  justify-content: center;
  height: 320px;
  width: 320px;
  margin-right: auto;
  margin-left: auto;
}

.is-visible-frame {
  -webkit-animation: fade-in 1s ease forwards;
          animation: fade-in 1s ease forwards;
}
.is-visible-background {
  -webkit-animation: fade-down 1s ease forwards;
          animation: fade-down 1s ease forwards;
}

.is-hidden-frame {
  -webkit-animation: fade-out 1s ease forwards;
          animation: fade-out 1s ease forwards;
}
.is-hidden-background {
  -webkit-animation: fade-up 1s ease forwards;
          animation: fade-up 1s ease forwards;
}