@import "../config/animations.scss";
@import "../config/variables.scss";
@import "../config/mixin.scss";
.Page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;

    &-second {
        display: flex;
        justify-content: space-around;
        height: 100vh;
        flex-direction: column;
    }
    &-heading {
        color: $color-white;
        max-width: 500px;
        font-size: $font-size-l;
        padding: 2rem;
        &-bold {
            font-weight: bold;
            color: $color-purple;
        }

        &-second {
            color: $color-white;
            margin-right: auto;
            margin-bottom: auto;
            max-width: 500px;
            font-size: $font-size-l;
            font-weight: bold;
            padding: 2rem;
        }
    }

    &-image {
        padding: 2rem;
    }
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: auto;

    .showcase {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &-carousel {
            width: 360px;
            margin-right: 5rem;
            margin-top: auto;
            margin-bottom: auto;
            overflow: hidden;

            .carousel-slide {
                display: flex;
                flex-direction: row;
                height: 100%;
                width: 100%;
            }
        }

        .details {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 2rem;

            .detail {
                margin-right: 2rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .title {
                    display: block;
                    font-weight: bold;
                    margin-bottom: 1rem;
                }
                .description {
                    display: block;
                    margin-bottom: 1rem;
                }
            }
        }
        .downloads {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .app {
            &-info {
                display: flex;
                align-items: center;
                margin-bottom: 2rem;
            }
            &-icon {
                margin-right: 2rem;
            }
            &-title {
                display: flex;
                font-size: $font-size-m;
                flex-direction: column;
                .bold {
                    font-weight: bold;
                }
            }
            &-desc {
                font-size: $font-size-s;
            }
            &-store {
                height: $button-height;
                margin-right: 1rem;
            }
        }
    }
}

.icon {
    width: 6rem;
}
.objects-wrapper {
    position: absolute;
}

.Page-floating {
    &-1 {
        @include content-object(fixed, 20deg, 5rem, 0, 5rem, 7rem);
    }
    &-2 {
        @include content-object(fixed, 0, 0, 5rem, 25rem, 1rem);
    }
}

.frame {
    display: flex;
    justify-content: center;
    height: 320px;
    width: 320px;
    margin-right: auto;
    margin-left: auto;
}
.is-visible {
    &-frame {
        animation: fade-in 1s ease forwards;
    }
    &-background {
        animation: fade-down 1s ease forwards;
    }
}
.is-hidden {
    &-frame {
        animation: fade-out 1s ease forwards;
    }
    &-background {
        animation: fade-up 1s ease forwards;
    }
}
