include ../global/header
.Page

    .objects-wrapper
        .Page-floating-1
            iframe.frame(src='https://my.spline.design/aiobjects-4c4b10e574b75d24a7518765ea531396/' frameborder='0' width='50%' height='50%')
        .Page-floating-2
            iframe.frame(src='https://my.spline.design/aiobjects-4c4b10e574b75d24a7518765ea531396/' frameborder='0' width='50%' height='50%')
    .Page-heading
        span
            | Turn your
            span.Page-heading-bold  idea 
            | into a
            |             profitable app
    img.Page-image(src='./assets/phone.png' alt='' height='500')
