

.Page-second
    .Page-heading-second.text-gradient
        span PORTFOLIO
    .content
        include ../global/carosel
        .showcase
            .app-info
                .app-icon
                    img.icon(src='./assets/games.png')
                .app-title
                    span.bold BitGames
                    span.app-desc.text-grey Play &amp; Earn Tracking
            .details
                .detail
                    .d1
                        span.title.text-lavender Problems you faced:
                        span.description
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            | Eaque ut nam error, expedita ipsa laborum sunt
                            | doloremque
                    .d2
                        span.title.text-purple  Our role:
                        span.description
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            | Eaque ut nam error, expedita ipsa laborum sunt
                            | doloremque
                .detail
                    .d3
                        span.title.text-pink Tech stack:
                        span.description
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            | Eaque ut nam error, expedita ipsa laborum sunt
                            | doloremque
                    .d4
                        span.title.text-orange Platforms:
                        span.description
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            | Eaque ut nam error, expedita ipsa laborum sunt
                            | doloremque
                    .d5
                        span.title.text-orangeish Time spent:
                        span.description
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            | Eaque ut nam error, expedita ipsa laborum sunt
                            | doloremque
            .downloads
                img.app-store(src='./assets/apple-app-store.png' alt='')
                img.app-store(src='./assets/google-play-badge.png' alt='')
                .button Website
//- .calendly-inline-widget(data-url='https://calendly.com/holyavkin/15-min-connection-call?background_color=1a1a1a&text_color=ffffff&primary_color=b142c6%22&month=2022-04” style=')
//- script(type='text/javascript' src='https://assets.calendly.com/assets/external/widget.js' async='')
