.Page-second
            .Page-heading-second
                span PORTFOLIO
            .content
                .showcase-image
                    img.Content-image(src='./assets/phone.png' alt='' height='500')
                .showcase
                    .app-info
                        .app-icon
                            img.icon(src='./assets/games.png')
                        .app-title
                            span.bold BitGames
                            span Play &amp; Earn Tracking
                    .details
                        .detail
                            .d1
                                span.title Problems you faced:
                                span.description
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    | Eaque ut nam error, expedita ipsa laborum sunt
                                    | doloremque
                            .d2
                                span.title Our role:
                                span.description
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    | Eaque ut nam error, expedita ipsa laborum sunt
                                    | doloremque
                        .detail
                            .d3
                                span.title Tech stack:
                                span.description
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    | Eaque ut nam error, expedita ipsa laborum sunt
                                    | doloremque
                            .d4
                                span.title Platforms:
                                span.description
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    | Eaque ut nam error, expedita ipsa laborum sunt
                                    | doloremque
                            .d5
                                span.title Time spent:
                                span.description
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    | Eaque ut nam error, expedita ipsa laborum sunt
                                    | doloremque
                    .downloads
                        img.app-store(src='./assets/apple-app-store.png' alt='')
                        img.app-store(src='./assets/google-play-badge.png' alt='')